<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div class="container-md">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Description</th>
            <th scope="col">Department</th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'SUPERADMIN')">
                <a sec:authorize="hasAnyAuthority('SUPERADMIN')" th:href="@{/courses/create}">
                    <button class="btn btn-primary">
                        Create course
                    </button>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <th scope="row" th:text="${course.courseId}"/>
            <td th:text="${course.courseName}"/>
            <td>
                <span th:if="${course.courseDescription != null}" th:text="${course.courseDescription}"/>
                <span/>
            </td>
            <td>
                <span th:if="${course.department != null}" th:text="${course.department.departmentName}"/>
                <span/>
            </td>
            <td>
                <div class="btn-group-sm">
                    <a sec:authorize="hasAnyAuthority('ADMIN', 'SUPERADMIN')" th:href="@{/courses/edit/{courseId}(courseId=${course.courseId})}">
                        <button class="btn btn-secondary">
                            Edit
                        </button>
                    </a>
                        <button sec:authorize="hasAuthority('SUPERADMIN')" class="btn btn-warning" th:id="${course.courseId}" onclick="deleteCourse(this.id)">
                            Delete
                        </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-center">
            <li th:if="${pageNo > 0 && pageNo != 1}" class="page-item">
                <a class="page-link" th:href="@{'/courses?page=' + ${pageNo - 2} + '&size=' + ${pageSize}}">Previous</a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" th:class="${pageNumber + 1 == pageNo ? 'page-item active' : 'page-item'}">
                <a class="page-link" th:href="@{'/courses?page=' + ${pageNumber} + '&size=' + ${pageSize}}" th:text="${pageNumber + 1}"></a>
            </li>
            <li th:if="${pageNo < totalPages - 1}" class="page-item">
                <a class="page-link" th:href="@{'/courses?page=' + ${pageNo + 1} + '&size=' + ${pageSize}}">Next</a>
            </li>
        </ul>
    </nav>
    <script>
        function deleteCourse(courseId) {
            if (confirm('Are you sure you want to delete this course?')) {
                fetch('http://localhost:8080/courses/delete/' + courseId, {
                    method: 'DELETE'
                })
                    .then(response => {
                        if (!response.ok && response.status !== 405) {
                            throw new Error('Error deleting user.');
                        }
                        alert('Course deleted successfully.');
                        window.location.href='http://localhost:8080/courses'
                    })
                    .catch(error => {
                        alert(error.message);
                    });
            }
        }
    </script>
</div>
</body>
</html>