<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lessons</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div class="container-md">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Group Name</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Location</th>
            <th scope="col">Teacher</th>
            <th scope="col">Course</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lesson : ${lessons}">
            <th scope="row" th:text="${lesson.getLessonId()}"/>
            <td>
                <span th:if="${lesson.getGroup()!=null}" th:text="${lesson.getGroup().getGroupName()}"/>
                <span th:text="null" th:unless="${lesson.getGroup()!=null}"/>
            </td>
            <td th:text="${lesson.getStartTime()}"/>
            <td th:text="${lesson.getEndTime()}"/>
            <td>
                <span th:if="${lesson.getLocation()!=null}" th:text="${lesson.getLocation()}"/>
                <span th:text="null"/>
            </td>
            <td>
                <span th:if="${lesson.getTeacher()!=null}" th:text="${lesson.getTeacher().getInitials()}"/>
                <span th:text="null" th:unless="${lesson.getTeacher()!=null}"/>
            </td>
            <td>
                <span th:if="${lesson.getCourse()!=null}" th:text="${lesson.getCourse().getCourseName()}"/>
                <span th:text="null" th:unless="${lesson.getCourse()!=null}"/>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>